/* .nav {
    
    text-align: center;
    color: #fff4e0;
   
    position: relative;
    top: 0;
    width: 100%;
    
    
} */

nav {
    background: #00adb5;
    color: #fff4e0;
    text-align: center;
}


